version: "3.7"

services:

  mariadb:
    image: bitnami/mariadb
    container_name: mariadb
    ports:
      - 3306:3306
    volumes:
      - ./mariadb-persistence:/bitnami/mariadb
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    networks:
      - apptier

  phpmyadmin:
    image: bitnami/phpmyadmin:latest
    container_name: phpmyadmin
    ports:
      - 5000:8080
      - 443:8443
    depends_on:
      - mariadb
    networks:
      - apptier

  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php
    volumes:
      - ./src:/var/www/html
    ports:
      - 9000:80
    networks:
      - apptier

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - 8000:80
    volumes:
      - ./src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - mariadb
    networks:
      - apptier

networks:
  apptier: